{% extends "blog/layout.html" %}

{% block body %}

<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    {% for post in posts %}


    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'single_blog_page' post.id %}">
              
              {{ post.title }}

            </a>
          </h5>
          <p class="card-text">{{ post.summary }}</p>
        </div>
        <div class="text-muted">{{ post.date_posted }}
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
  </div>

{% endblock %}